
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/menu.css">
    
</head>
<body>
    <header>
        <div class="header-content">
            <div class="text-section">
                <h1> TECHBOX </h1>
                <p></p>
            </div>
            <div class="image-section">
                <img src="/iconos/logo.png" alt="Meditation Image">
            </div>
        </div>
    </header>

    <main>
        <div class="grid-container">
            <div class="grid-item">
                <a href="/taller/perfil">
                    <img src="/iconos/perfil.svg" alt="Perfil">
                    <p>Perfil</p>
                </a>
            </div>
            <div class="grid-item">
                <a href="/loans">
                    <img src="/iconos/presta.svg" alt="Préstamos">
                    <p>Préstamos</p>
                </a>
            </div>
            <div class="grid-item">
                <a href="/returns">
                    <img src="/iconos/devolucion.svg" alt="Devoluciones">
                    <p>Devoluciones</p>
                </a>
            </div>
            <div class="grid-item">
                <a href="/my-qr">
                    <img src="/iconos/qr.svg" alt="Mi QR">
                    <p>Mi QR</p>
                </a>
            </div>
            <div class="grid-item">
                <a href="/recommendations">
                    <img src="/iconos/recomendacion.svg" alt="Recomendaciones">
                    <p>Recomendaciones</p>
                </a>
            </div>
            <div class="grid-item">
                <a href="/logout">
                    <img src="/iconos/cerrar.svg" alt="Cerrar sesión">
                    <p>Cerrar sesión</p>
                </a>
            </div>
        </div>
    </main>
</body>
</html>

