<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Préstamos</title>
    <script src="https://cdn.jsdelivr.net/npm/instascan@1.0.0/build/instascan.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">
    
</head>
<body>
    <header>
        <h1>Préstamos</h1>
        <nav>
            <ul>
                <li><a href="/profile">Perfil</a></li>
                <li><a href="/loans">Préstamos</a></li>
                <li><a href="/returns">Devoluciones</a></li>
                <li><a href="/my-qr">Mi QR</a></li>
                <li><a href="/recommendations">Recomendaciones</a></li>
                <li><a href="/logout">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>
    
        <h2>Préstamos</h2>
        <!-- Agrega un contenedor para el escáner -->
<div id="qr-reader" style="width: 300px; height: 300px;"></div>
<button id="start-camera">Iniciar Cámara</button>


     
        <script>
            document.getElementById('start-camera').addEventListener('click', function() {
    const qrCodeReader = new Html5Qrcode("qr-reader");

    // Define los parámetros del escáner
    const config = { fps: 10, qrbox: 250 };

    // Inicia la cámara
    qrCodeReader.start({ facingMode: "environment" }, config, (decodedText, decodedResult) => {
        // Maneja el texto escaneado
        console.log(`Código QR detectado: ${decodedText}`);
        qrCodeReader.stop().catch((err) => {
            console.error(`Error al detener el escáner: ${err}`);
        });
    }).catch((err) => {
        console.error(`Error al iniciar el escáner: ${err}`);
    });
});

        </script>
        
    
</body>
</html>
