<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendaciones</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/recomen.css">
</head>
<body>
    <header>
        <h1>Recomendaciones</h1>
        <nav>
            <ul>
                <li><a href="/profile">Perfil</a></li>
                <li><a href="/loans">Préstamos</a></li>
                <li><a href="/returns">Devoluciones</a></li>
                <li><a href="/my-qr">Mi QR</a></li>
                <li><a href="/recommendations">Recomendaciones</a></li>
                <li><a href="/logout">Cerrar sesión</a></li>
            </ul>
        </nav>

    </header>

    <section class="search-section">
        <h2>¡¡Hola, aqui tienes algunas recomendaciones para mejorar tu experiencia!!</h2>
        
    </section>

    <section class="options-section">
        <div class="option">
            <img src="/iconos/recomendacion.svg" alt="Configuración de la cuenta">
            <p> Recuerda no perder las herramientas </p>
        </div>
        <div class="option">
            <img src="/iconos/recomendacion.svg" alt="Configuración de la cuenta">
            <p> Recuerda llenar el formulario del perfil</p>
        </div>
        <div class="option">
            <img src="/iconos/recomendacion.svg" alt="Inicio de sesión y contraseña">
            <p> Verifique el estado de cada herramienta </p>
        </div>
        <div class="option">
            <img src="/iconos/recomendacion.svg" alt="Privacidad y seguridad">
            <p> procura no dañar el QR de las herramientas</p>
        </div>
        <div class="option">
            <img src="/iconos/recomendacion.svg" alt="Marketplace">
            <p> Recuerda no dañar las herramientas</p>
        </div>
        <div class="option">
            <img src="/iconos/recomendacion.svg" alt="Grupos">
            <p> No olvides registrar la devolucion </p>
        </div>
    </section>

    
   
</body>
</html>
