<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devoluciones</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/returns.css">
</head>
<body>
    <header>
        <h1>Devoluciones</h1>
        <nav>
            <ul>
                <li><a href="/profile">Perfil</a></li>
                <li><a href="/loans">Préstamos</a></li>
                <li><a href="/returns">Devoluciones</a></li>
                <li><a href="/my-qr">Mi QR</a></li>
                <li><a href="/recommendations">Recomendaciones</a></li>
                <li><a href="/logout">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>
    <form id="returnForm" action="/taller/devolver" method="post">
        <label for="returnToolName">Nombre de la herramienta:</label>
        <select class="custom-select" name="prestamo" required>
            <option value="" disabled selected></option>
            <option value="1">Opción 1</option>
            <option value="2">Opción 2</option>
            <option value="3">Opción 3</option>
        </select>

 
        <label for="returnNie">NIE:</label>
       
        <input type="number" id="returnNie" name="returnNie" ><br><br>
        

        <label for="returnComentario">Comentario/Reporte:</label>
        <textarea id="returnComentario" name="returnComentario" rows="5" cols="33"></textarea><br><br>
        <button type="submit" value="Enviar datos de devolución" id="submitReturnForm"> Enviar</button>
    </form>
    <script>

// window.addEventListener('DOMContentLoaded', function() {
//     document.getElementById('returnToolName').value = sessionStorage.getItem('returnToolName') || '';
//     document.getElementById('returnToolType').value = sessionStorage.getItem('returnToolType') || '';
//     document.getElementById('returnToolStatus').value = sessionStorage.getItem('returnToolStatus') || '';
//     document.getElementById('returnDate').value = sessionStorage.getItem('returnDate') || '';
//     document.getElementById('returnTime').value = sessionStorage.getItem('returnTime') || '';
//     document.getElementById('returnNombre').value = sessionStorage.getItem('nombre') || '';
//     document.getElementById('returnEmail').value = sessionStorage.getItem('email') || '';
//     document.getElementById('returnNie').value = sessionStorage.getItem('nie') || '';
//     document.getElementById('returnEspecialidad').value = sessionStorage.getItem('especialidad') || '';
//     document.getElementById('returnAno').value = sessionStorage.getItem('ano') || '';
//     document.getElementById('returnComentario').value = sessionStorage.getItem('returnComentario') || '';
// });

// document.getElementById('submitReturnForm').addEventListener('click', function() {
//     const returnData = {
//         toolName: document.getElementById('returnToolName').value,
//         toolType: document.getElementById('returnToolType').value,
//         toolStatus: document.getElementById('returnToolStatus').value,
//         date: document.getElementById('returnDate').value,
//         time: document.getElementById('returnTime').value,
//         nombre: document.getElementById('returnNombre').value,
//         email: document.getElementById('returnEmail').value,
//         nie: document.getElementById('returnNie').value,
//         especialidad: document.getElementById('returnEspecialidad').value,
//         ano: document.getElementById('returnAno').value,
//         comentario: document.getElementById('returnComentario').value // Añadir el comentario al envío
//     };

//     // Enviar los datos del formulario de devolución
//     fetch('http://localhost:3000/taller', {
//         method: 'POST',
//         headers: {
//             'Content-Type': 'application/json',
//         },
//         body: JSON.stringify(returnData),
//     })
//     .then(response => response.text())
//     .then(data => {
//         console.log('Datos de devolución enviados:', data);
//     })
//     .catch((error) => {
//         console.error('Error al enviar los datos de devolución:', error);
//     });
// });

    
    </script>
</body>
</html>
