* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b3b3b3;
}

.profile-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b3b3b3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-pic-container {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ddd;
}

label input[type="file"] {
    display: none;
}

label span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #58606D;
    border-radius: 50%;
    padding: 10px;
    color: #021730;
    cursor: pointer;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #000000;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #021730;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #021730;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:disabled {
    background-color: #ddd;
}


@media screen and (max-width: 600px) {
    .profile-container {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    .form-group input {
        padding: 8px;
        font-size: 14px;
    }

    .profile-pic-container {
        width: 100px;
        height: 100px;
    }

    label span {
        padding: 8px;
    }

    button {
        padding: 8px;
        font-size: 14px;
    }
}
